includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/
        - bootstrap/
        - config/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        -
            message: '#PHPDoc tag @return with type Illuminate\\Database\\Eloquent\\Model#'
            path: app/Repositories/TopRatedMovies.php
        -
            message: '#but returns Illuminate\\Database\\Eloquent\\Model.#'
            path: app/Repositories/TopRatedMovies.php
